* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-container {
    background-color: white;
    color: #a0522d ;
    min-height:100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    background-repeat: no-repeat;
    backgroound-size: cover;
    background-position: center;
  }
  
  .card {
    width: 60rem;
    margin: auto;
    background: #fff;
    position: center;
    align-self: center;
    top: 50rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    display: flex;
    flex-direction: row;
  }
  
  .left-container {
    background-image: linear-gradient(to right, #c6ca56, #c6b848, #c5a63d, #c29435, #bd8230);
    width: 25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
  
  .shoes {
    object-fit: cover;
    width: 22em;
    height: 22em;
    border-radius: 100%;
  }
  
  .right-container {
    background-color: #fff;
    width:35rem;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding:1rem 2rem 3rem 3rem;
  }
  
  h1,h2 {
    text-align:center;
    padding: .2rem;
  }
  
  p {
    display: block;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
  }
  
  .inputbox {
    color: #030303;
    width: 100%;
    padding: .5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0;
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
    outline:none;
  }
  
  .expcvv {
    display: flex;
    justify-content: space-between;
    padding: .6rem 0;
  }
  
  .exp {
    padding-right: 1rem;
  }
  
  .exp2 {
    padding: 0 1rem;
  }
  
  .button {
    background-image: linear-gradient(to right, #c6ca56, #c6b848, #c5a63d, #c29435, #bd8230);;
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: -5px;
    width: 100%;
    letter-spacing: .11rem;
    outline: none;
  }
  
  .button:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #BDC148;
    transition: 0.5s;
    
  }
  
  .footer {
    width: 80vw;
    background-image: linear-gradient(to right, #c6ca56, #c6b848, #c5a63d, #c29435, #bd8230);;
    text-align:center;
    border-radius: 25px;
    padding:10px;
    color: white;
    box-shadow: 0.5px 0.5px 10px #2C3E50;
    font-weight:bold;
    word-spacing:4px;
    letter-spacing:2px;
    font-family: "Gill Sans", sans-serif;
    margin:100px auto;
    margin-bottom:10px;
  }
  
  